@import "./_variables";

html,
body {
  margin: 0;
  height: 100%;
  background-color: $background-color;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $code-font;
}

#root {
  // max-width: 1250px;
  min-height: 100vh;
  margin: auto;
  background-color: $white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}
