@import "../../styles/variables";

@keyframes slideInFromTop {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  display: grid;
  grid-template-rows: auto auto;
  gap: 24px;
  padding: 48px 0 48px 0px;
  animation: none;
}

.container.show {
  animation: slideInFromTop 0.5s ease-out forwards;
}

section {
  padding: 0px 48px 0px 48px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 16px;
}

.container > p {
  padding: 0px 48px 0px 48px;
  font-family: $roboto-condensed;
  font-weight: 700;
  font-size: 32px;
}
